<header>
  <div class="logo" (click)="navigateHome()">
    <img src="assets/logo.png" alt="Logo" class="header-logo" />
  </div>
  <div *ngIf="isLogged" class="username">
    {{ user?.firstname }} {{ user?.lastname }}
  </div>
  <div class="auth-buttons">
    <button *ngIf="!isLogged" (click)="login()">Zaloguj</button>
    <button *ngIf="!isLogged" (click)="signup()">Zarejestruj się</button>
    <button *ngIf="isLogged" (click)="signout()">Wyloguj</button>
  </div>
</header>
<router-outlet></router-outlet>
